@model IEnumerable<TetrisTARpe23.Models.Characters.CharacterIndexModel>

@{int rownuber = 1;}
<div><a asp-action="Add" asp-controller="Characters" type="submit" class="btn btn-primary">choose a character</a><div/>
    @*User can choose a character*@

    <div class="h1">Your Characters</div>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Used</th>
                    <th scope="col">Next level</th>
                    <th scope="col">Friend level</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var character in Model)
                {
                    <tr>
                        @*Later once images have been used add image here aswell*@
                        <td>@rownuber</td>
                        <td>@character.CharacterName</td>
                        <td>@character.CharacterLevel</td>
                    </tr>
                    rownuber++;
                }
            </tbody>
        </table>
    </form>
    @*Missing button for profile*@
    @*Missing button for character list*@
